<div id="new" ng-controller='newPeopleCtrl'>
	<div class="top">
		<span><a ui-sref="home"><img src="app/common/img/my/left.png"></a></span>
		<span>新手入门</span>
		<span><a href="#"><img src="app/common/img/my/ls.png"></a></span>
	</div>
	<div class="nav">
		<div>
			<dl ng-repeat="x in data">
				<dt><a href="#"><img src={{x.logo}}></a></dt>
				<dd>{{x.name}}</dd>
			</dl>
		</div>
	</div>
	<div class="containt">
		<dl ng-repeat="y in data">
			<dt><a href="#"><img src={{y.image}}></a></dt>
			<dd>
				<p>{{y.title}}</p>
				<p>
					<span>浏览量:</span>
					<span>{{y.views}}</span>
				</p>
			</dd>
		</dl>
	</div>
	<div class="bottom">还剩下<span>27</span>篇</div>
</div>