 <div class="lehuo2" ng-controller="ctrl2">
        <header class="lehuo2_head">
            <a ui-sref="lohas"><img src="app/common/img/lohas/line.png"></a>
            <h2>#吃货小编#带你胡同深处吃海鲜</h2>
        </header>
        <div class="lehuo2_video">
            <video src="http://video.szzhangchu.com/1479712524968_1438998212.mp4" width="100%" preload="metadata" poster="http://img.szzhangchu.com/1479723782175_5097448562.jpg@417h_640w_1e_1c.jpg"></video>
            <img src="http://pub.szzhangchu.com/web/v4.2/images/ico/ico-play-video.png" class="lehuo2_stop" ng-click="lehuo2_play()">
        </div>
        <div class="leluo2_collect">
            <p>上课人数: 4358</p>
            <div class="lehuo2_col_pic">
                <img src="app/common/img/lohas/coll.png">
                <img src="app/common/img/lohas/share.png">
            </div>
        </div>
        <div class="lehuo2_int">
            <p>带你胡同深处吃海鲜</p>
            <img src="http://pub.szzhangchu.com/web/v4.2/images/ico/ico-down-grey.png" ng-click="artCon()" class="lehuo-jt">
        </div>
        <article id="art">
            <p>
                "夏天来了，冷面的季节到了！红绿黄，翠翠的颜色，特别有食欲の和風料理－中华冷面！是不是不由自主地开始脑补起新鲜蔬菜丝搭配酱汁の清爽口感，還有Q弹十足の面？夏日绝不可错过的空腹君推荐，一道简单易学又经典的风味就摆在你面前噢！一起开动吧！
            </p>
        </article>
        <div class="lehuo2_change">
            <p>选集</p>
            <p>更新至1集</p>
        </div>
        <div class="lehuo2_num">
            <span>1</span>
        </div>
        <div class="lehuo2_zan">
            <p>10位厨友觉得很赞</p>
            <img src="app/common/img/lohas/zan.png">
        </div>
        <div class="lohas2_hp">
            <div class="lohas2_hp_head">
                <a href="#"><img src="http://q.qlogo.cn/qqapp/100956582/04B506DC9185393111CE6EC4FE511822/100"></a>
                <a href="#"><img src="http://q.qlogo.cn/qqapp/100956582/8D5107A5973B94B1F9E38B27D3B14631/100"></a>
                <a href="#"><img src="http://q.qlogo.cn/qqapp/100956582/04B506DC9185393111CE6EC4FE511822/100"></a>
                <a href="#"><img src="http://q.qlogo.cn/qqapp/100956582/04B506DC9185393111CE6EC4FE511822/100"></a>
                <a href="#"><img src="http://q.qlogo.cn/qqapp/100956582/04B506DC9185393111CE6EC4FE511822/100"></a>
                <a href="#"><img src="http://q.qlogo.cn/qqapp/100956582/04B506DC9185393111CE6EC4FE511822/100"></a>
                <a href="#"><img src="http://q.qlogo.cn/qqapp/100956582/04B506DC9185393111CE6EC4FE511822/100"></a>
            </div>
            <a href="#"><img src="app/common/img/lohas/zhi.png" class="lohas2_zhi"></a>
        </div>
        <div class="lohas2_corr">
            <h2>相关课程</h2>
            <a ui-sref="curriculum"><img src="app/common/img/lohas/zhi2.png"></a>
        </div>
        <div  class="lohas2_corr_video">
            <div>
                <dl>
                    <dt><img src="app/common/img/lohas/video.jpg"></dt>
                    <dd>吃玩两不误</dd>
                </dl>
                <dl>
                    <dt><img src="app/common/img/lohas/video.jpg"></dt>
                    <dd>吃玩两不误</dd>
                </dl>
                <dl>
                    <dt><img src="app/common/img/lohas/video.jpg"></dt>
                    <dd>吃玩两不误</dd>
                </dl>
            </div>
        </div>
        <div class="lohas2_speak">
            <p><span>2</span>条评论</p>
            <a ui-sref="work">
                <dl>
                    <dt><img src="app/common/img/lohas/work.png"></dt>
                    <dd>交作业</dd>
                </dl>
            </a>
        </div>
        <div class="lohas2_speak_2"><a href="#">课堂发言</a> </div>
        <div class="lohas2_comment">
            <figure>
                <img src="http://img.szzhangchu.com/IMG_20160809_111156.jpg">
                <figcaption>
                    <h2>麟游空房女人</h2>
                    <p>很好</p>
                    <p>15小时前</p>
                </figcaption>
                <a href="#"><img src="app/common/img/lohas/biao.png"></a>
            </figure>
            <figure>
                <img src="http://q.qlogo.cn/qqapp/100956582/BB93DD3416BF592764362D3146C30BE3/100">
                <figcaption>
                    <h2>麟游空房女人</h2>
                    <p>很好</p>
                    <p>15小时前</p>
                </figcaption>
                <a href="#"><img src="app/common/img/lohas/biao.png"></a>
            </figure>
        </div>
    </div>

