*{
	box-sizing: border-box;
}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none; }
img{vertical-align:middle;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
li{ list-style:none; } 
body { font-family: "微软雅黑"; background:#fff; overflow-x:hidden; color: #464646;}
a { color:#464646; text-decoration:none; }
.clear{ zoom:1;}
.clear:after{ content: ""; display: block; clear: both;}
