<div id="rPage">
	<header>
		<div>
			<div class="sao">
				<a href="javascript:;"><img src="app/common/img/home/saoyisao.png"></a>
			</div>
			<div class="nav">
				<a href="javascript:;">推荐</a>
				<a ng-click="click()" href="javascript:;">食材</a>
				<a href="javascript:;">分类</a>
				<span></span>
			</div>
			<div class="search">
				<a href="javascript:;"><img src="app/common/img/home/search.png"></a>
			</div>
		</div>
	</header>
	<div class="wrap clear">
		<div class="recommend">
			<div class="banner">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide" ng-repeat="x in slides"><a href="javascript:;"><img ng-alt={{x.alt}} ng-src={{x.img}}></a></div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<div class="searchBar">
				<div>
					<span></span><input type="text" name="" placeholder="输入食材或菜单名搜索">
				</div>
			</div>
			<nav>
				<dl class="new_hand">
					<dt><img src="app/common/img/home/new_hand.png"></dt>
					<dd>新手入门</dd>
				</dl>
				<dl class="food_original">
					<dt><img src="app/common/img/home/food_original.png"></dt>
					<dd>食材搭配</dd>
				</dl>
				<dl class="menu">
					<dt><img src="app/common/img/home/menu.png"></dt>
					<dd>场景菜谱</dd>
				</dl>
				<dl class="love">
					<dt><img src="app/common/img/home/love.png"></dt>
					<dd>猜你喜欢</dd>
				</dl>
			</nav>
			<div class="bg"></div>
			<div class="plan">
				<div class="clear">
					<dl>
						<dt><img src="app/common/img/home/plan.jpg"></dt>
						<dd class="top">全民宝贝计划</dd>
						<dd>孕妈最需要的孕期常识</dd>
					</dl>
					<dl>
						<dt><img src="app/common/img/home/report.jpg"></dt>
						<dd class="top">报告妈妈</dd>
						<dd>有趣有料有方法</dd>
					</dl>
					<dl>
						<dt><img src="app/common/img/home/plan.jpg"></dt>
						<dd class="top">全民宝贝计划</dd>
						<dd>孕妈最需要的孕期常识</dd>
					</dl>
					<dl>
						<dt><img src="app/common/img/home/report.jpg"></dt>
						<dd class="top">报告妈妈</dd>
						<dd>有趣有料有方法</dd>
					</dl>
				</div>
			</div>
			<div class="new">
				<div class="title">
					<h3>今日新品<img src="http://pub.szzhangchu.com/web/v4.2/images/ico/ico-more-circle.png"></h3>
				</div>
				<div class="content">
					<dl>
						<dt>
						<a href="javascript:;"><img src="http://img.szzhangchu.com/1463759337766_4050642458.JPG@180h_211w_1e_1c.jpg"></a>
						<span></span>
					</dt>
						<dd>冬瓜酵素</dd>
						<dd title="一款消脂减肥饮品，快来一起学起来吧！">一款消脂减肥饮品，快来一起...</dd>
					</dl>
					<dl>
						<dt>
						<a href="javascript:;"><img src="http://img.szzhangchu.com/1467558369201_1575517262.JPG@180h_211w_1e_1c.jpg"></a>
						<span></span>
					</dt>
						<dd>咸水鸭</dd>
						<dd title="鸭肉综合了葱、姜以及花椒的香味，咸香入味，非常下饭。">鸭肉综合了葱、姜以及花椒的...</dd>
					</dl>
					<dl>
						<dt>
						<a href="javascript:;"><img src="http://img.szzhangchu.com/1467123668717_1119206198.JPG@180h_211w_1e_1c.jpg"></a>
						<span></span>
					</dt>
						<dd>银耳红枣糖水</dd>
						<dd title="晚上泡一杯红枣茶，可以有效地治疗失眠。">晚上泡一杯红枣茶，可以有…</dd>
					</dl>
				</div>
			</div>
			<div class="tea">
				<div class="title">
					<h3>下午茶情调<img src="http://pub.szzhangchu.com/web/v4.2/images/ico/ico-more-circle.png"></h3>
				</div>
				<ul>
					<li>
						<a href="javascript:;"><img src="http://img.szzhangchu.com/1456975926070_4969755890.jpg@288h_211w_1e_1c.jpg"></a>
						<div>
							<p>下午茶情调</p>
							<p class="dish">43道菜</p>
						</div>
						<div class="bg"></div>
					</li>
					<li>
						<a href="javascript:;">
							<img src="http://img.szzhangchu.com/1439613754301_5858113397.JPG@140h_211w_1e_1c.jpg">
							<span></span>
						</a>
						<a href="javascript:;">
							<img src="http://img.szzhangchu.com/1466222436178_3141157167.jpg@140h_211w_1e_1c.jpg">
							<span></span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="http://img.szzhangchu.com/1440662144412_6443520540.jpg@140h_211w_1e_1c.jpg">
							<span></span>
						</a>
						<a href="javascript:;">
							<img src="http://img.szzhangchu.com/1446694985872_3051987740.jpg@140h_211w_1e_1c.jpg">
							<span></span>
						</a>
					</li>
				</ul>
				<p class="saying">最美的不是下午茶，而是坐在我对面微笑的你。</p>
			</div>
			<div class="tea">
				<div class="title">
					<h3>周末烘焙课<img src="http://pub.szzhangchu.com/web/v4.2/images/ico/ico-more-circle.png"></h3>
				</div>
				<ul>
					<li>
						<a href="javascript:;"><img src="http://img.szzhangchu.com/1451122867485_6783825901.jpg@288h_211w_1e_1c.jpg"></a>
						<div>
							<p>周末烘焙课</p>
							<p class="dish">10道菜</p>
						</div>
						<div class="bg"></div>
					</li>
					<li>
						<a href="javascript:;">
							<img src="http://img.szzhangchu.com/1441111329215_4954757179.jpg@140h_211w_1e_1c.jpg">
							<span></span>
						</a>
						<a href="javascript:;">
							<img src="http://img.szzhangchu.com/1441113152162_2434962394.jpg@140h_211w_1e_1c.jpg">
							<span></span>
						</a>
					</li>
					<li>
						<a href="http://h5.izhangchu.com/dishes_view/index.html?&dishes_id=9280">
							<img src="http://img.szzhangchu.com/1439448495097_4471323009.jpg@140h_211w_1e_1c.jpg">
							<span></span>
						</a>
						<a href="javascript:;">
							<img src="http://img.szzhangchu.com/1439448553989_3601272200.jpg@140h_211w_1e_1c.jpg">
							<span></span>
						</a>
					</li>
				</ul>
				<p class="saying">超美味点心...</p>
			</div>
			<div class="tea">
				<div class="title">
					<h3>带上美食出游<img src="http://pub.szzhangchu.com/web/v4.2/images/ico/ico-more-circle.png"></h3>
				</div>
				<ul>
					<li>
						<a href="javascript:;"><img src="http://img.szzhangchu.com/1451712922046_7152412226.jpg@288h_211w_1e_1c.jpg"></a>
						<div>
							<p>带上美食出游</p>
							<p class="dish">7道菜</p>
						</div>
						<div class="bg"></div>
					</li>
					<li>
						<a href="javascript:;">
							<img src="http://img.szzhangchu.com/1441024251278_1678479576.JPG@140h_211w_1e_1c.jpg">
							<span></span>
						</a>
						<a href="javascript:;">
							<img src="http://img.szzhangchu.com/1439454043102_5526005316.jpg@140h_211w_1e_1c.jpg">
							<span></span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="http://img.szzhangchu.com/1439465067129_2135169240.jpg@140h_211w_1e_1c.jpg">
							<span></span>
						</a>
						<a href="javascript:;">
							<img src="http://img.szzhangchu.com/1439973085563_5928791128.JPG@140h_211w_1e_1c.jpg">
							<span></span>
						</a>
					</li>
				</ul>
				<p class="saying">天气晴朗，带上美食轻轻松松出游去...</p>
			</div>
			<div class="all">
				<p>全部场景(138)<img src="http://pub.szzhangchu.com/web/v4.2/images/ico/ico-more-circle.png"></p>
			</div>
			<div class="rec">
				<div class="title">
					<h3>推荐达人<img src="http://pub.szzhangchu.com/web/v4.2/images/ico/ico-more-circle.png"></h3>
				</div>
				<ul>
					<li>
						<div>
							<a href="javascript:;"><img src="app/common/img/home/member.jpg"></a>
						</div>
						<div>
							<h3>木匠的女儿</h3>
							<p>唯美食和爱不可辜负</p>
							<p>粉丝<span>1881</span></p>
						</div>
					</li>
					<li>
						<div>
							<a href="javascript:;"><img src="app/common/img/home/member.jpg"></a>
						</div>
						<div>
							<h3>木匠的女儿</h3>
							<p>唯美食和爱不可辜负</p>
							<p>粉丝<span>1881</span></p>
						</div>
					</li>
					<li>
						<div>
							<a href="javascript:;"><img src="app/common/img/home/member.jpg"></a>
						</div>
						<div>
							<h3>木匠的女儿</h3>
							<p>唯美食和爱不可辜负</p>
							<p>粉丝<span>1881</span></p>
						</div>
					</li>
				</ul>
			</div>
			<div class="goodWorks">
				<div class="title">
					<h3>精选作品<img src="http://pub.szzhangchu.com/web/v4.2/images/ico/ico-more-circle.png"></h3>
				</div>
				<div class="content">
					<dl>
						<dt><a href="javascript:;"><img src="http://img.szzhangchu.com/1479432729225_2789420567.jpg@212h_212w_1e_1c.jpg"></a></dt>
						<dd>
							<span><img src="http://img.szzhangchu.com/1450923456737_1492350314.jpg@68h_68w_1e_1c.jpg"></span>
							<p class="userName">Moni大ca</p>
						</dd>
					</dl>
					<dl>
						<dt><a href="javascript:;"><img src="http://img.szzhangchu.com/1479432729225_2789420567.jpg@212h_212w_1e_1c.jpg"></a></dt>
						<dd>
							<span><img src="http://img.szzhangchu.com/1450923456737_1492350314.jpg@68h_68w_1e_1c.jpg"></span>
							<p class="userName">Moni大ca</p>
						</dd>
					</dl>
					<dl>
						<dt><a href="javascript:;"><img src="http://img.szzhangchu.com/1479432729225_2789420567.jpg@212h_212w_1e_1c.jpg"></a></dt>
						<dd>
							<span><img src="http://img.szzhangchu.com/1450923456737_1492350314.jpg@68h_68w_1e_1c.jpg"></span>
							<p class="userName">Moni大ca</p>
						</dd>
					</dl>
				</div>
				<p class="saying">晒美食，是对平凡生活的热爱。</p>
			</div>
			<div class="goodFood">
				<div class="title">
					<h3>美食专题<img src="http://pub.szzhangchu.com/web/v4.2/images/ico/ico-more-circle.png"></h3>
				</div>
				<div>
					<div class="pic">
						<a href="javascript:;"><img src="http://img.szzhangchu.com/1449920912333_9986339115.png@640w_215h_1e_1c.jpg"></a>
					</div>
					<div class="main">
						<h3>十分钟学会拌凉菜</h3>
						<p>冬季饮食，如果只吃温性食物，虽御寒，但有“燥气”，来点凉拌菜，达到温凉平衡。</p>
					</div>
				</div>
				<div>
					<div class="pic">
						<a href="javascript:;"><img src="http://img.szzhangchu.com/1449920912333_9986339115.png@640w_215h_1e_1c.jpg"></a>
					</div>
					<div class="main">
						<h3>十分钟学会拌凉菜</h3>
						<p>冬季饮食，如果只吃温性食物，虽御寒，但有“燥气”，来点凉拌菜，达到温凉平衡。</p>
					</div>
				</div>
			</div>
		</div>

		<div class="foodOriginal common">
			<dl>
				<dt>常见食材</dt>
				<dd>
					<div class="clear">
						<a href="javascript:;"><img src="app/common/img/home/pic1.jpg"></a>
						<div>
							<p>
								<a href="javascript:;">菠菜</a>
								<a href="javascript:;">菠菜</a>
								<a href="javascript:;">菠菜</a>
							</p>
							<p>
								<a href="javascript:;">菠菜</a>
								<a href="javascript:;">菠菜</a>
								<a href="javascript:;">菠菜</a>
							</p>
						</div>
					</div>
					<p>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
					</p>
					<p>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
					</p>
				</dd>
			</dl>
		</div>
		<div class="sort common">
			<dl>
				<dt>常见食材</dt>
				<dd>
					<div class="clear">
						<a href="javascript:;"><img src="app/common/img/home/img/pic1.jpg"></a>
						<div>
							<p>
								<a href="javascript:;">菠菜</a>
								<a href="javascript:;">菠菜</a>
								<a href="javascript:;">菠菜</a>
							</p>
							<p>
								<a href="javascript:;">菠菜</a>
								<a href="javascript:;">菠菜</a>
								<a href="javascript:;">菠菜</a>
							</p>
						</div>
					</div>
					<p>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
					</p>
					<p>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
						<a href="javascript:;">菠菜</a>
					</p>
				</dd>
			</dl>
		</div>
	</div>
</div>

<div ui-view></div>