#cPage{
	font-size: 0.333333rem;
	width: 100%;
	color: #666;
}
#cPage header{
	height: 1.555556rem;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}
#cPage header>div{
	width: 9.388889rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;	
	margin-left: 0.486111rem;
}
#cPage header img{
	width: 0.541667rem;
	height: 0.625rem;
}
#cPage .content .top{
	height: 0.958333rem;
	background-color: #eee;
	color: #a3a3a3;
	padding-left: 0.583333rem;
	line-height: 0.958333rem;
}
#cPage .content .wrap>div{
	margin: 0.277778rem auto 0;
	width: 8.027778rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#cPage .content .wrap a{
	display: inline-block;
	width: 2.027778rem;
	height: 2.027778rem;
	border: 1px solid #ff8f5c;
	border-radius: 50%;
	color: #464646;
	line-height: 2.027778rem;
	text-align: center;
	margin-bottom: 0.277778rem;
}
#cPage .content .wrap .active{
	color: #fff;
	background-color: #ff8f5c;
}
